* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: flex;
    align-items: center; /* Alinha a imagem e o texto verticalmente */
}

.logo-img {
    width: 120px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
    margin-right: 10px;
    margin-top: 15px; /* Espaçamento entre a imagem e o texto */
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #aca7a7 ;
    height: 11vh;
}

nav a{
    color : #000;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover{
    opacity: 0.7;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #3498db;
    color: white;
    padding: 30px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-content {
    margin-left: 0px;
    padding-top: 80px;
    height: 100%;
    overflow-y: auto;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.main-menu-btn {
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 60px 90px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    margin: 5px;
    width: 300px;
    height: 80px;
    text-align: right;
    display: inline-block;
    text-decoration: none;
}


.btn-registrar-exame {
    background-image: url("/static/image/frasco.png");
}

.btn-gerar-etiqueta {
    background-image: url("/static/image/etiqueta.png");
}

.btn-ver-resultados {
    background-image: url("/static/image/result.png");
}

.btn-ficha-cliente {
    background-image: url("/static/image/cadastro.png");
}
