<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha do Cliente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/client_record_search.css') }}">
</head>
<body>
    <header>
        <nav>
            <a class="logo">
                <img src="{{ url_for('static', filename='image/logo.png') }}" alt="Logo" class="logo-img"> <!-- Aqui você coloca a imagem -->
                Lab Access
            </a>
            <ul class="nav-list">
                <li><a href="{{ url_for('home') }}" class="btn-option ">Dashboard</a></li>
                <li><a href="{{ url_for('exame') }}" class="btn-option">Novo Exame</a></li>
                <li><a href="{{ url_for('generate_label') }}" class="btn-option">Gerar Etiqueta</a></li>
                <li><a href="{{ url_for('client_record_search') }}" class="btn-option">Abrir Ficha</a></li>
                <li><a href="{{ url_for('view_patients') }}" class="btn-option">Pacientes</a></li>
            </ul>
        </nav>
    </header>

    <div class="main-content">
        <form action="{{ url_for('client_record_search') }}" method="POST" enctype="multipart/form-data">
            <div class="form-grid">
                
                <div class="form-group">
                    <label for="patient_name">Nome do Paciente:</label>
                    <input type="text" id="patient_name" name="patient_name" required>
                </div>
                <div class="form-group">
                    <label for="cpf">CPF:</label>
                    <input type="text" id="cpf" name="cpf" required>
                </div>
                <div class="form-group">
                    <label for="phone">Telefone:</label>
                    <input type="text" id="phone" name="phone" required>
                </div>
                <div class="form-group">
                    <label for="address">Endereço:</label>
                    <input type="text" id="address" name="address" required>
                </div>
                <div class="form-group">
                    <label for="category">Categoria do Exame:</label>
                    <select id="category" name="category" onchange="loadSubcategories()" required>
                        <option value="" disabled selected>Selecione a categoria</option>
                        {% for exam in exam_types %}
                            <option value="{{ exam }}">{{ exam }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="subcategory">Subcategoria do Exame:</label>
                    <select id="subcategory" name="subcategory" required>
                        <option value="" disabled selected>Selecione a subcategoria</option>
                    </select>
                </div>

                <!-- Seção de Perguntas Médicas -->
                <div class="form-group">
                    <label for="health_issues">Tem algum problema de saúde?</label>
                    <input type="text" id="health_issues" name="health_issues" placeholder="Descreva problemas de saúde...">
                </div>
                <div class="form-group">
                    <label for="allergies">Alergico a alguma coisa?</label>
                    <input type="text" id="allergies" name="allergies" placeholder="Descreva alergias...">
                </div>
                <div class="form-group">
                    <label for="family_health_issues">Problemas de saúde na família?</label>
                    <input type="text" id="family_health_issues" name="family_health_issues" placeholder="Descreva problemas de saúde na família...">
                </div>
                <div class="form-group">
                    <label for="medications">Está tomando algum medicamento atualmente?</label>
                    <input type="text" id="medications" name="medications" placeholder="Descreva medicamentos...">
                </div>
                <div class="form-group">
                    <label for="previous_surgeries">Já fez alguma cirurgia?</label>
                    <input type="text" id="previous_surgeries" name="previous_surgeries" placeholder="Descreva cirurgias anteriores...">
                </div>
                <div class="form-group">
                    <label for="documento">Anexar Documento Médico (PDF ou Imagem):</label>
                    <input type="file" name="documento" id="documento" accept=".pdf,.png,.jpg,.jpeg">
                </div>
            </div>
            <div class="button-container">
                <div class="btn-group">
                    <button onclick="goBack()" class="btn-back">Voltar</button>
                    <button type="submit" id="save-button">Registrar Exame</button>
                </div>
            </div>

            
        </form>
        

    </div>

    <script>
        function goBack() {
            window.history.back();
        }

        function loadSubcategories() {
            var category = document.getElementById("category").value;
            var subcategorySelect = document.getElementById("subcategory");
            
            subcategorySelect.innerHTML = '<option value="" disabled selected>Selecione a subcategoria</option>';
            
            if (category) {
                var subcategories = JSON.parse('{{ exam_subcategories|tojson|safe }}');
                console.log(subcategories);  
                subcategories[category].forEach(function(subcat) {
                    var option = document.createElement("option");
                    option.value = subcat;
                    option.text = subcat;
                    subcategorySelect.appendChild(option);
                });
            }
        }
    </script>
</body>
</html>