<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Exame</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/mainpage.css') }}">
</head>
<body>
    <div class="fixed-header">
        <h1>Editar Exame</h1>
    </div>

    <div class="home-container">
        <form action="{{ url_for('edit_exam', exam_id=exam.id) }}" method="POST">
            <div class="form-group">
                <label for="patient_name">Nome do Paciente:</label>
                <input type="text" id="patient_name" name="patient_name" value="{{ exam.patient_name }}" required>
            </div>
            
            <div class="form-group">
                <label for="category">Categoria:</label>
                <select id="category" name="category" required>
                    <option value="" disabled>Selecione a categoria</option>
                    {% for exam_type in exam_types %}
                        <option value="{{ exam_type }}" {% if exam.category == exam_type %}selected{% endif %}>{{ exam_type }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="form-group">
                <label for="subcategory">Subcategoria:</label>
                <select id="subcategory" name="subcategory" required>
                    <option value="" disabled>Selecione a subcategoria</option>
                    {% for subcat in exam_subcategories[exam.category] %}
                        <option value="{{ subcat }}" {% if exam.subcategory == subcat %}selected{% endif %}>{{ subcat }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="form-group">
                <label for="result">Resultado Geral:</label>
                <input type="text" id="result" name="result" value="{{ exam.result }}" required>
            </div>
            
            <div class="form-group">
                <button type="submit">Salvar Alterações</button>
            </div>
        </form>
        <button onclick="goBack()" class="btn-back">Voltar</button>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>