<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Exame</title>
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='style/mainpage.css') }}">
    <script>
        var examSubcategories = JSON.parse('{{ exam_subcategories|tojson|safe }}');
    </script>
    <script src="{{ url_for('static', filename='scripts.js') }}" defer></script>
</head>
<body>
    <div class="sidebar">
        <button class="sidebar-toggle" onclick="toggleSidebar()">☰ Menu</button>
        <div class="sidebar-content">
            <div class="sidebar-box">
                <a href="{{ url_for('home') }}" class="btn-option">Dashboard</a>
                <a href="{{ url_for('generate_label') }}" class="btn-option">Gerar Etiqueta</a>
                <a href="{{ url_for('results') }}" class="btn-option">Ver Resultados</a>
                <a href="{{ url_for('client_record_search') }}" class="btn-option">Abrir Ficha</a>
            </div>
        </div>
    </div>

    <script>
        function toggleSidebar() {
            const sidebar = document.querySelector('.sidebar');
            sidebar.classList.toggle('active');
        }
    </script>

    <div class="fixed-header">
        <h1>Registrar Novo Exame</h1>
    </div>

    <div class="home-container">
        <div class="form-container">
            <form action="/submit" method="POST">
                <div class="form-group">
                    <label for="patient_name">Nome do Paciente:</label>
                    <input type="text" id="patient_name" name="patient_name" required oninput="fetchPatientDetails(this.value)">
                </div>

                <div class="form-group" id="patient_details" style="display: none;">
                    <p><strong>CPF:</strong> <span id="cpf"></span></p>
                    <p><strong>Telefone:</strong> <span id="phone"></span></p>
                    <p><strong>Endereço:</strong> <span id="address"></span></p>
                </div>
                
                <div class="form-group">
                    <label for="category">Categoria:</label>
                    <select id="category" name="category" onchange="loadSubcategories()" required>
                        <option value="" disabled selected>Selecione a categoria</option>
                        {% for exam in exam_types %}
                            <option value="{{ exam }}">{{ exam }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="subcategory">Subcategoria:</label>
                    <select id="subcategory" name="subcategory" onchange="showFields()" required>
                        <option value="" disabled selected>Selecione a subcategoria</option>
                    </select>
                </div>
                
                <div class="dynamic-fields" id="fields-container">
                    <!-- Campos dinâmicos serão adicionados aqui -->
                </div>
                
                <div class="form-group">
                    <label for="result">Resultado Geral:</label>
                    <input type="text" id="result" name="result" required>
                </div>
                
                <div class="form-group">
                    <button type="submit">Registrar Exame</button>
                </div>
            </form>
        </div>
        <button onclick="goBack()" class="btn-back">Voltar</button>
        
        <a href="/results">Ver Resultados</a>
        
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </div>
</body>
</html>