<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerar Etiqueta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/generate_label.css') }}">
</head>
<body>
    <header>
        <nav>
            <a class="logo">
                <img src="{{ url_for('static', filename='image/logo.png') }}" alt="Logo" class="logo-img"> <!-- Aqui você coloca a imagem -->
                Lab Access
            </a>
            <ul class="nav-list">
                <li><a href="{{ url_for('home') }}" class="btn-option ">Dashboard</a></li>
                <li><a href="{{ url_for('exame') }}" class="btn-option">Novo Exame</a></li>
                <li><a href="{{ url_for('generate_label') }}" class="btn-option">Gerar Etiqueta</a></li>
                <li><a href="{{ url_for('client_record_search') }}" class="btn-option">Abrir Ficha</a></li>
                <li><a href="{{ url_for('view_patients') }}" class="btn-option">Pacientes</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="main-content">
        <form action="{{ url_for('generate_label') }}" method="POST">
            <div class="home-container">    
                <div class="form-group">
                    <label for="patient_name">Nome do Paciente:</label>
                    <input type="text" id="patient_name" name="patient_name" required>
                </div>
                <div class="form-group">
                    <label for="exam_type">Tipo de Exame:</label>
                    <select id="exam_type" name="exam_type" required>
                        <option value="" disabled selected>Selecione o tipo de exame</option>
                        {% for exam in exam_types %}
                            <option value="{{ exam }}">{{ exam }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="button-container">
                <div class="btn-group">
                    <button onclick="goBack()" class="btn-back">Voltar</button>
                    <button type="submit" id="save-button">Registrar Exame</button>
                </div>
            </div>
        </form>
    </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>