<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerar Etiqueta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/mainpage.css') }}">
</head>
<body>
    <div class="sidebar">
        <button class="sidebar-toggle" onclick="toggleSidebar()">☰ Menu</button>
        <div class="sidebar-content">
            <div class="sidebar-box">
                <a href="{{ url_for('home') }}" class="btn-option">Dashboard</a>
                <a href="{{ url_for('generate_label') }}" class="btn-option">Gerar Etiqueta</a>
                <a href="{{ url_for('results') }}" class="btn-option">Ver Resultados</a>
            </div>
        </div>
    </div>

    <script>
        function toggleSidebar() {
            const sidebar = document.querySelector('.sidebar');
            sidebar.classList.toggle('active');
        }
    </script>
    <div class="fixed-header">
        <h1>Gerar Etiqueta</h1>
        <a href="{{ url_for('logout') }}" class="btn-logout">Logout</a>
    </div>

    <div class="home-container">
        <form action="{{ url_for('generate_label') }}" method="POST">
            <div class="form-group">
                <label for="patient_name">Nome do Paciente:</label>
                <input type="text" id="patient_name" name="patient_name" required>
            </div>
            <div class="form-group">
                <label for="exam_type">Tipo de Exame:</label>
                <select id="exam_type" name="exam_type" required>
                    <option value="" disabled selected>Selecione o tipo de exame</option>
                    {% for exam in exam_types %}
                        <option value="{{ exam }}">{{ exam }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit">Gerar Etiqueta</button>
        </form>
        <button onclick="goBack()" class="btn-back">Voltar</button>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>