<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-content">
            <div class="sidebar-box">
                <a href="{{ url_for('home') }}" class="btn-option">Dashboard</a>
                <a href="{{ url_for('generate_label') }}" class="btn-option">Gerar Etiqueta</a>
                <a href="{{ url_for('results') }}" class="btn-option">Ver Resultados</a>
                <a href="{{ url_for('client_record_search') }}" class="btn-option">Abrir Ficha</a>
                <a href="{{ url_for('view_patients') }}" class="btn-option">Pacientes</a>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="fixed-header">
            <h1>Bem-vindo!</h1>
        </div>

        <div class="button-container">
            <a href="{{ url_for('exame') }}" class="main-menu-btn btn-registrar-exame">Registrar Exame</a>
            <a href="{{ url_for('generate_label') }}" class="main-menu-btn btn-gerar-etiqueta">Gerar Etiqueta</a>
            <a href="{{ url_for('results') }}" class="main-menu-btn btn-ver-resultados">Ver Resultados</a>
            <a href="{{ url_for('client_record_search') }}" class="main-menu-btn btn-ficha-cliente">Ficha do Cliente</a>
        </div>
    </div>
</body>
</html>