<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/mainpage.css') }}">
</head>
<body>
    <div class="fixed-header">
        <h1>Bem-vindo!</h1>
    </div>

    <div class="home-container">
        <h2>O que você deseja fazer?</h2>
        <div class="options">
            <a href="{{ url_for('labels.generate_label_route') }}" class="btn-option">Gerar Etiqueta</a>
            <a href="{{ url_for('exams.exame') }}" class="btn-option">Registrar Exame</a>
            <a href="{{ url_for('patients.patient_form') }}" class="btn-option">Preencher Ficha do Paciente</a>
        </div>
    </div>
</body>
</html>