<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Pacientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/patients.css') }}">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-content">
            <div class="sidebar-box">
                <a href="{{ url_for('home') }}" class="btn-option">Dashboard</a>
                <a href="{{ url_for('exame') }}" class="btn-option">Novo Exame</a>
                <a href="{{ url_for('generate_label') }}" class="btn-option">Gerar Etiqueta</a>
                <a href="{{ url_for('results') }}" class="btn-option">Ver Resultados</a>
                <a href="{{ url_for('client_record_search') }}" class="btn-option">Abrir Ficha</a>
                <a href="{{ url_for('view_patients') }}" class="btn-option">Pacientes</a>
            </div>
        </div>
    </div>

    <div class="fixed-header">
        <h1>Lista de Pacientes</h1>
    </div>

    <div class="main-content">
        <div class="patients-container">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for patient in patients %}
                        <tr>
                            <td>{{ patient.patient_name }}</td>
                            <td>{{ patient.cpf }}</td>
                            <td>
                                <a href="{{ url_for('client_record', patient_name=patient.patient_name) }}" class="btn-access-record">Acessar Ficha</a>
                                <form action="{{ url_for('delete_patient', patient_id=patient.id) }}" method="POST" style="display: inline;">
                                    <button type="submit" class="btn-remove">Remover</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>